.header{
    background-color: #d55555;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.3);
}

.navbar-brand{
    font-weight: bold !important;
}
.container-fluid a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200px;
    color: white;
}
/*akhir navbar*/


/*awal about*/

.container2 {
    background-color: #f6caca;
    margin-top: 50px;
    border-radius: 15px;
    padding-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}


.ttg {
    margin: 25px 50px 25px 50px;
    text-align: justify;
    flex: 2.5;
    order: 1;
}

.ttg h1{
    text-align: justify;
    color: #d55555;
    font-size: 50px;
    text-decoration: none;
    padding-top: 20px;
}

.ttg1 {
    margin: 68px 50px 50px 50px;
    text-align: justify;
    flex: 1;
    order: 2;
}

.ttg1 h1{
    text-align: justify;
    color: #d55555;
    font-size: 50px;
    text-decoration: none;
    padding-top: 20px;
}

.ttg1 img {
    position: relative;
    width: 170px;
    height: 200px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.3);
}


@media screen and ( max-width: 900px ){
    .container2 {
        width: auto;
        float: none;
        margin: 0;
    }
    
}

/*akhir about*/



.footer{
    background-color: rgb(211, 79, 96);
    margin-top: 0;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}
